<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block name %}
        {% include 'header.html' %}
    {% endblock %}
    <main>
        <h2>Whats cooking everyone?</h2>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            {% for name in names %}
                <tr>
                    <td>{{name}}</td>
                </tr>
            {% endfor %}
        </table>
        {% if cohort == "Web Fundamentals" %}
            <h2>This class is not Python but {{cohort}}</h2>
        {% else %}
            <h2>This class is not Web Fundamentals but {{cohort}}</h2>
        {% endif %}
    </main>
</body>
</html>