.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    .flexcolumn();

    header {
        .flexcolumn();
        
        nav {
            .flexrow()
        }
    }
    main {
        .flexcolumn();
    }
    footer {
        .flexcolumn();
    }
}