<!DOCTYPE html>
<html lang="en">
    <!-- ! This is being pulled in from another file -->
    {% block head %} {% include 'blockFiles/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'blockFiles/header.html' %} {% endblock header %}
    <main>
        {% for park in parks %}
            <h3><a href="/parks/{{ park.id }}">{{park.name}} - {{park.location}}</a></h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Appendages</th>
                    <th>Will to Live</th>
                    <th>Is Dead</th>
                    <th>Health</th>
                </tr>
                {% for a in park.animals %}
                    <tr>
                        <td>{{a.name}}</td>
                        <td>{{a.species}}</td>
                        <td>{{a.appendages}}</td>
                        <td>
                            {% if a.willToLive == True %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {% if a.isDead == True %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>{{a.health}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </main>
    {% block footer %} {% include 'blockFiles/footer.html' %} {% endblock footer %}
</body>
</html>