<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'blockFiles/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'blockFiles/header.html' %} {% endblock header %}
    <main>
        <h2>Create a new User</h2>
        <form action="/createUser/" method="post">
            <section>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="">
            </section>
            <section>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="">
            </section>
            <section>
                <label for="email">Email Address</label>
                <input type="email" name="email" id="">
            </section>
            <button>Create User</button>
        </form>
        <h2>Returning Users</h2>
        <form action="/returnUser" method="post">
            <section>
                <label for="email">Email Address</label>
                <input type="email" name="email" id="">
            </section>
            <button>Submit</button>
        </form>
    </main>
    {% block footer %} {% include 'blockFiles/footer.html' %} {% endblock footer %}
</body>
</html>