main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .row .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px groove green;
}
main .row .column img {
    max-width: 200px;
}