<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'blockFiles/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'blockFiles/header.html' %} {% endblock header %}
    <main class="card">
        <form action="/parks/create/park/" method="post">
            <div class="mb-3">
                <label for="name" class="form-lable">Park Name</label>
                <input type="text" name="name" class="form-control">
                <label for="location" class="form-lable">Location</label>
                <input type="text" name="location" class="form-control">
                <input type="hidden" name="user_id" value="{{user.id}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
    {% block footer %} {% include 'blockFiles/footer.html' %} {% endblock footer %}
</body>
</html>