<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'blockFiles/menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>Create User</h2>
        <form action="/user/create/" method="post">
            <section>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="">
            </section>
            <section>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="">
            </section>
            <section>
                <label for="username">Username</label>
                <input type="text" name="username" id="">
            </section>
            <button>Create New User</button>
        </form>
        <h2>Login</h2>
        <form action="/login/" method="post">
            <section>
                <label for="username">Username</label>
                <input type="text" name="username" id="">
            </section>
            <button>Login</button>
        </form>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>