<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>{{user.full_name()}} Send a comment</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/logout/">Logout</a>
            <a href="/comment/add">Add Comment</a>
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <form action="/comment/create/" method="post">
            <section>
                <label for="comment">Comment</label>
                <textarea name="comment" id="" cols="30" rows="10"></textarea>
            </section>
            <input type="hidden" name="sender_id" value="{{user.id}}">
            <section>
                <label for="receiver_id">Chose who to send it too</label>
                <select name="receiver_id">
                    {% for u in users %}
                        <option value="{{u.id}}">{{u.full_name()}}</option>
                    {% endfor %}
                </select>
            </section>
            <button>Send Comment</button>
        </form>
    </main>
    <footer></footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>