.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: wavy;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b8b5b5;
  color: #333363;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .messages h5 {
  color: #763e3e;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
